<h1>Ansiedade</h1>

<form>
    <p>Pergunta 1:</p>
    <input type="radio" class="sim" name="pergunta1" value="sim" required>
    <label for="sim">Sim</label>
    <input type="radio" class="nSei" name="pergunta1" value="nSei" required>
    <label for="nSei">Não Sei</label>
    <input type="radio" class="nao" name="pergunta1" value="nao" required>
    <label for="nao">Não</label>
</form>